<i class="pi pi-align-justify" (mouseover)="visibleSidebar1 = true" style="position:initial"></i>
<p-sidebar [(visible)]="visibleSidebar1" (mouseleave)="visibleSidebar1 = false" [fullScreen]="false"
  [baseZIndex]="10000" [style]="{width:'170px',height:'270px', position:'absolute' }">
  <a href="#" routerLink=""><i class="material-icons">home</i>
    <span class="icon-text">Home</span></a>
  <a href="#" [routerLink]="[{outlets:{specialRouterOutlet:['crisis-list']}}]"><i class="material-icons">monetization_on</i>
    <span class="icon-text">CrisisC</span></a> <!-- , primary:['dummy-outlet'] -->
</p-sidebar>
<!--position:'relative', left:'0' , border: '0', top:'15px', background:'transparent'-->


<div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
  <a href="#" routerLink=""><i class="material-icons">info</i><span class="icon-text">about</span></a>
  <a href="#" routerLink=""><i class="material-icons">spa</i><span class="icon-text">services</span></a>
</div>

<h5>Overlay</h5>
<button type="button" pButton pRipple icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
<p-menu #menu [popup]="true" [model]="items"></p-menu>