<button style="float:right" pButton type="button" pRipple icon="pi pi-sign-in" iconPos="left"
    class="p-button-sm p-button-outlined" label="Import Project" (click)="showImportProjectDialog()"></button>

<p-dialog header="Import Project" [(visible)]="displayImportProject" [modal]="true" [style]="{width: '470px'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="cancel()">

    <import-project [modalWindowVisible]="displayImportProject"></import-project>

</p-dialog>